.category-container {
  display: flex;
  align-items: flex-start;
}

.category-button {
  margin-left: 10px;
  margin-bottom: 1rem;
  padding: 2px 15px;
  background-color: #f0f0f0;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-button:hover {
  background-color: #e0e0e0;
}
.office-interior-design {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

h2,
h3,
h4 {
  color: #444;
  margin-top: 30px;
}

ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

strong {
  color: #000;
}

@media (max-width: 768px) {
  .office-interior-design {
    padding: 15px;
  }

  h1 {
    font-size: 2rem;
  }
}
