.container-detail {
  display: flex; /* Sử dụng flexbox cho container */
  justify-content: space-between; /* Đẩy các phần tử sang hai bên */
  align-items: flex-start; /* Căn chỉnh các phần tử theo chiều dọc */
  max-width: 1200px; /* Đặt chiều rộng tối đa cho container */
  margin: 0 auto; /* Giúp căn giữa */
}

.details {
  flex: 1; /* Bên trái chiếm không gian còn lại */
  margin-right: 20px; /* Khoảng cách giữa hai bên */
}

.features {
  flex: 0 0 400px; /* Đặt chiều rộng cố định cho bên phải */
  background-color: #f8f9fa; /* Màu nền nhẹ */
  padding: 20px;
  border-radius: 10px; /* Bo góc cho khu vực tính năng */
  max-width: 35%; /* Đặt chiều rộng tối đa cho features */
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.customer-pin {
  height: auto;
  width: 15px;
}

.user {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.user-buttons button {
  margin-bottom: 10px;
  width: 40%;
}

.customer-button {
  border-radius: 10px;
  border: 1px solid #005555;
  
}

.controls button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin-left: 20px;
}

.custom {
  margin-top: 10px;
  text-align: justify;
  padding: 1px;
}
