.filter-section h4 {
  font-size: 17px; /* Kích thước chữ tiêu đề */
  margin-top: 10px; /* Khoảng cách dưới tiêu đề */
}

.filter-option {
  display: flex; /* Hiển thị dạng flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin-bottom: 10px; /* Khoảng cách giữa các tùy chọn */
}

.filter-option input[type="radio"] {
  margin-right: 10px; /* Khoảng cách bên phải cho nút radio */
}

.filter-option label {
  font-size: 16px; /* Kích thước chữ cho nhãn */
  color: #333; /* Màu chữ */
}

.filter-section {
  width: 300px; /* Đặt chiều rộng cho phần lọc */
  height: 210px;
  margin-left: 20px; /* Khoảng cách giữa danh sách và phần lọc */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center; /* Căn giữa theo chiều dọc */
}

.mb-4 {
  margin-bottom: 1rem; /* Giảm khoảng cách dưới */
}

.me-2 {
  /* Class for right margin */
  margin-right: 0.5rem; /* Khoảng cách bên phải cho tiêu đề */
}
